<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.rtl.min.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <title><%= pageTitle %></title>
  </head>
  <body>
    <div class="container">
      <h1>a very powerfull weblog</h1>
      <button class="btn btn-primary">click</button>
      <span class="fa fa-plus"></span>
    </div>
  </body>
</html>
